<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mx-2 yelpHeader" href="#">YelpCamp!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:3000/campgrounds#"> All Campgrounds </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <hr class="bg-white border-2 border-top" />

            <!-- navbar right login links -->
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) { %>
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link yelpheader">Join YelpCamp!</a>
                <% } else { %>
                <form action="/logout">
                    <button class="btn btn-dark">Log Out</button>
                </form>
                <% } %>
            </div>
        </div>
    </div>
</nav>