<% layout('layouts/Boilerplate') %>

    <h1>
        <%= campground.title %>
    </h1>
    <h2>
        <%= campground.location %>
    </h2>
    <footer>
        <p>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button>Delet this broder</button>
        </form>
        </p>
        <a href="/campgrounds/<%=campground._id%>/edit">Edit this campground</a>
        <br>
        <a href="/campgrounds">All Campgrounds</a>
    </footer>